/*******************************************/
/* COLORS */
@darkestBackground: #2c3747;

@khanColor: #9CB53A;

@lighterBackground: #EEEEEE; //#F7F7F7; 
@lightestBackground: #ffffff;

@colorBannerText: #FFFFFF;
@colorHeaderText: #4D4D4D;
@colorSubHeadingText: #666666;
@colorBodyText: #333333;
@colorLightBodyText: #8C8C8C;
@colorVeryLightBodyText: #B6B6B6;

/*******************************************/
/* GENERIC LAYOUT AND UTILITY CLASSES */

body {
    color: @colorBodyText;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-size: 100%;
    margin: 0;
}

h1 { 
  font-size: 4em;
}

p {
  font-size: 1.5em;
}

a {
  font-size: 1em;
}

a:hover, a:focus {
  text-decoration: none;
}

/* Elements with .clearfix grow to contain their floated descendants --
 * from http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.flex-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex-default {
  display: flex;
  flex: 0 0 33%;
  list-style: none;
}

.end {
  justify-content: flex-end;
}

.first { 
  order: -1;
}

.full {
  flex: 0 0 100%;
}

.half {
  flex: 0 0 100%;
}

.third { 
  flex: 0 0 100%;
}

.two-thirds {
  flex: 0 0 100%;
}

.three-quarters {
  flex: 0 0 100%;
}

/*******************************************/
/* HEADER */

.banner {
  position: relative;
  background-color: @darkestBackground;
  background-image: url("../img/homepage-banner-leaves-partwhite.png");
  background-repeat: no-repeat;
  min-height: 250px;  
  .logo {
    padding-top: 35px;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  h1 {
    color: @colorBannerText;
    font-family: MuseoSans-500, sans-serif;
    padding-top: 35px;
  }
}


/*******************************************/
/* BODY */

a:hover {
  text-decoration: none;
}

.blank {
  p {
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 30%;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    color: @colorVeryLightBodyText;
  }
}

.badge-types {
  background-color: @lighterBackground;
}

.badge-header {
  font-weight: 600;
  font-size: 1.7em;
//  text-transform: uppercase;
  margin-bottom: 0;
}

h2 {
  padding: 15px 0;
  font-size: 2.5em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: @colorHeaderText;
}
ul {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  li {
    background-color: @lightestBackground;
    transition: background-color 0.25s ease-in-out;
    clear: both;
    color: @colorBodyText;
    a {
      display: block;
      padding: 25px 10px;    
      color: @colorSubHeadingText;
    }
    a:hover, a:focus {
      color: @colorSubHeadingText;
    }
    img {
      float: left;
    }
    p {
      padding-left: 100px;
    }
  }
  li:hover {
    background-color: rgba(0,0,0,0.05);
    transition: background-color 0.35s ease-in-out;
  }
}
.panel {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.badges { 
  ul li {
    margin-bottom: 0px;
    border-bottom: 1px solid @lighterBackground;
    a p {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 85px;
    }
  }
}

.badge-details {
  border-left: 1px solid @lighterBackground;
  background-color: @khanColor;
  .badge {
    background-color: @lighterBackground;
    width: 80%;
    height: 60%;
    margin: 50px auto;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }
    p {
      text-align: center;
      width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .badge-name {
      font-size: 4em;
      font-weight: 600;
      margin-top: 30px;
    }
    .badge-description {
      font-size: 2em;
      color: @colorLightBodyText;
      padding-bottom: 30px;
      word-wrap: normal;
    }
  }
}

/*******************************************/
/* RESPONSIVE STYLES */
@media (max-width: 367px) {
  
  /* GENERIC */
  .full-small-mobile {
    flex: 0 0 100%;
  }
}

@media (max-width: 549px) {
  .badge-details .badge img{
    max-width: 200px;
  }
}

@media (min-width: 768px) {
  
  /* GENERIC */
  p {
    font-size: 1em;
  }
  a {
    font-size: 1.5em;  
  }
  
  /* HEADER */
  h1 {
    font-size: 4em;
  }
  
  .banner {
    background-position: 5%;
    .logo {
    }
    .container { 
      margin-left: 0;
      margin-right: 0;
      text-align: right;
    }
  }
  
  /* BODY */
  h2 {
    font-weight: 600;
    text-align: center;
  }
  
  
  .blank {
    p {
      display: block;
      font-size: 3em;
      margin-top: 200px;
    }
  }
  
  .badge-header {
    font-size: 1.2em;
  }
  
  .badge-details {
    .badge {
      .badge-name {
        font-size: 5em;
        font-weight: 600;
      }
      .badge-description {
        font-size: 2em;
      }
    }
  }
}

@media (max-width: 991px) {
 
  /* BODY */
  .badges {
    h2 {
      border-bottom: 1px solid @lighterBackground;
    }
  }
  
}

@media (min-width: 992px) { 
  
  /* GENERIC */
  .full {
    flex: 0 0 100%;
  }

  .half {
    flex: 0 0 50%;
  }

  .third { 
    flex: 0 0 100/3%;
  }

  .two-thirds {
    flex: 0 0 200/3%;
  }
  
  .three-quarters {
    flex: 0 0 75%;
  }

  /* HEADER */
  h1 {
    font-size: 5em;
  }
  
  .banner {
    background-position: 12%;
  }
  
  /* BODY */
  h2 {
    font-size: 3em;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .badges {
    flex: 0 0 100%;
  }
}

@media (max-width: 1199px) {
  .badges-container {
    order: -1;
  }
  .badge-details {
    flex: 0 0 100%;
    order: -1;
  }
}

@media (min-width: 1200px) {
  
  /* GENERIC */

  
  /* HEADER */
  h1 {
    font-size: 6em;
  }
  
  .banner {
    background-position: 18%;
  }
  
  /* BODY */
  
}
